.price-title {
  & p {
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--text-title);
    text-align: center;
  }
}

.price-area {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 77.5rem;
}

.pricing {
  display: flex;
  width: 18rem;
  height: 25rem;
  padding: 2rem 2rem 1.75rem 2rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--shape-hover);
  border-radius: 1.5rem;
}
.pricing-contain {
  & .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & h2 {
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    color: var(--text-title);
  }

  & p {
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-label);
  }
  & .price {
    margin-top: 1.5rem;
    & span {
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: var(--text-title);
    }
  }
}
.lista {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.75rem;

  & li {
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: var(--text-body);
    display: flex;
    gap: 0.5rem;
  }
  & img {
    width: 14.061px;
    height: 14.073px;
  }
}
.anual {
  position: relative;
  border: 1px solid var(--shape-stroke);
  background: var(--shape-base);
  transform: rotate(8deg);
  z-index: 0;
  transition: z-index 0s;

  &:hover {
    background-color: var(--shape-hover);
    animation: anual 0.5s ease both;

    z-index: 10;

    .star3,
    .star4 {
      transform: rotate(8deg);
    }
  }
  &:not(:hover) {
    animation: voltar-anual 0.5s ease both;
  }
}
.mensal {
  position: relative;
  border: 1px solid var(--shape-stroke);
  background: var(--shape-base);
  transform: rotate(-8deg);
  z-index: 1;
  transition: z-index 0s;

  &:hover {
    background-color: var(--shape-hover);
    animation: mensal 0.5s ease both;

    z-index: 10;

    .star1,
    .star2 {
      transform: rotate(8deg);
    }
  }
  &:not(:hover) {
    animation: voltar-mensal 0.5s ease both;
  }
}
.semestral {
  top: -5%;
  z-index: 1;
  position: relative;

  &:hover {
    animation: mover 0.5s ease both;
  }

  &:not(:hover) {
    animation: voltar 0.5s ease both;
  }
}

@keyframes mover {
  from {
    transform: translateY(0x);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes voltar {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mensal {
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: translateY(-10px) rotate(-8deg);
  }
}
@keyframes voltar-mensal {
  from {
    transform: translateY(-10px) rotate(-8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
@keyframes anual {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: translateY(-10px) rotate(8deg);
  }
}
@keyframes voltar-anual {
  from {
    transform: translateY(-10px) rotate(8deg);
  }
  to {
    transform: rotate(8deg);
  }
}
@media (width<=37rem) {
  .price-area {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    pointer-events: none;
    margin-top: 7rem;
  }
  .semestral {
    top: 0%;
  }
}
