.button {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--pink-dark);
  padding: 0 1.25rem;
  border-radius: 0.5rem;
  font: var(--button);
  color: var(--text-title);
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--text-body);
  opacity: 0.2;

  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  top: 50%;
  left: 50%;

  transition: transform 0.3s ease-out;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(10);
}
.display-on {
  display: none;
}

.centerimg {
  flex: 1;
  display: flex;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.tag {
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: var(--text-body);
  background-color: var(--shape-stroke);
  padding: 0.56rem 1.25rem;
  border-radius: 999px;
}

.button-price {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  background-color: var(--pink-dark);
  padding: 0 1.25rem;
  border-radius: 0.5rem;
  font: var(--button);
  color: var(--text-title);
  overflow: hidden;
}

.button-price::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--text-body);
  opacity: 0.2;

  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  top: 50%;
  left: 50%;

  transition: transform 0.3s ease-out;
}

.button-price:hover::before {
  transform: translate(-50%, -50%) scale(10);
}

.button-color {
  background-color: var(--blue-dark);
}
.color-text {
  color: var(--blue-light);
}
.color-pink {
  color: var(--pink-light);
}

.star1 {
  width: 26px;
  height: 26px;
  position: absolute;
  left: -10%;
  top: -10%;
}

.star2 {
  width: 13.055px;
  height: 13.055px;
  position: absolute;
  left: -15%;
  top: -1%;
}

.coelho {
  position: absolute;
  left: 32px;

  top: -50.189px;
}

.star3 {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: -5%;
  left: 106%;
  transform: rotate(-8deg);
}

.star4 {
  width: 11.25px;
  height: 11.25px;
  transform: rotate(-8deg);
  position: absolute;
  bottom: -7%;
  left: 100%;
}

@media (width <= 37rem) {
  .star1,
  .coelho,
  .star2,
  .star3,
  .star4 {
    display: none;
  }
}
